/*
body{
	background-color: black;
}

h1,h3,h4,p{
	text-align: center;
}

.menulateral
{
	background-color: red;
	padding: 80px;

}
.areacentral
{
	background-color: grey;
	margin-bottom: 3px;
	padding: 50px;

}

.areaprincipal
{
	background-color: #F5F5F5;
	margin-bottom: 3px;
	padding: 10px;
}

.rodape
{
	background-color: black;
	color: white;
	margin-top: 20px;
	padding: 3px;
}
*/

.form-control{min-width:700px;}
