.colorform
{
	background-color: #F5F5F5;
	padding: 50px;
}

.colorrodape
{
	background-color: black;
	padding: 50px;

}

.cortabelameio
{
	background-color: grey; 
}
.margemconteudo{

	margin-top: 80px;
}

.verde{
	text-decoration-color: green;
}

.pesquisartam{min-width:200px;}

.corcarrinho
{
	background-color: #F5F5F5;
}

a{
	text-decoration: none;
	
}

a:link{
	color: red;
}

a:hover{
	color: red;
}

a:visited
{
	color: red;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}