.colorform
{
	background-color: #F5F5F5;
	padding: 50px;
}

.colormeio
{
	background-color: #F5F5F5;
	padding: 150px;
}
.colorrodape
{
	background-color: black;
	padding: 50px;

}

.corcarrinho
{
	background-color: #F5F5F5;
}
.margemconteudo{

	margin-top: 80px;
}

.pesquisartam{min-width:200px;}


a{
	text-decoration: none;
	
}

a:link{
	text-decoration: red;
}

a:hover{
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
}


.vermelho{
	color: red;
}
.verde{
	color: green;
}
.preto{
	color: black;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}